@rendermode InteractiveServer

<div>
    
    <form @onsubmit="HandleSubmit">
        <input type="text" @bind="formData.Title">
        <input type="text" @bind="formData.Desc">
        <input type="text" @bind="formData.CompleteCondition">
        <button type="submit">Submit</button>
    </form>
</div>

@code{

    public Goal formData= new();

    public String TypedWord {get;set;}
    [Parameter]
    public EventCallback<KeyboardEventArgs> OnKeyPress {get;set;}
    private async Task HandleKeyPress(KeyboardEventArgs e)
    {
        Console.WriteLine(e);
        await OnKeyPress.InvokeAsync(e);
    }
    private void HandleInput(ChangeEventArgs e)
    {
        return;
    }    

    [Parameter]
    public EventCallback<Goal> OnSubmit {get;set;}
    private async Task HandleSubmit()
    {
        @* Console.WriteLine(formData.Title); *@
        await OnSubmit.InvokeAsync(formData);
    }
}